<div>
    <h2 id="page-heading">
        <span jhiTranslate="costStmtIntranetApplicationApp.item.home.title">Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item" [routerLink]="['/item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="costStmtIntranetApplicationApp.item.home.createLabel">
            Create a new Item
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="items?.length === 0">
        <span jhiTranslate="costStmtIntranetApplicationApp.item.home.notFound">No items found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="items && items.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descriptionOfGoods"><span jhiTranslate="costStmtIntranetApplicationApp.item.descriptionOfGoods">Description Of Goods</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hsCode"><span jhiTranslate="costStmtIntranetApplicationApp.item.hsCode">Hs Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unit"><span jhiTranslate="costStmtIntranetApplicationApp.item.unit">Unit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="costStmtIntranetApplicationApp.item.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="value"><span jhiTranslate="costStmtIntranetApplicationApp.item.value">Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="manufactringCostStmtId"><span jhiTranslate="costStmtIntranetApplicationApp.item.manufactringCostStmtId">Manufactring Cost Stmt Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="manufactringCostStmtId.id"><span jhiTranslate="costStmtIntranetApplicationApp.item.manufactringCostStmtId">Manufactring Cost Stmt Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let item of items ;trackBy: trackId">
                    <td><a [routerLink]="['/item', item.id, 'view']">{{ item.id }}</a></td>
                    <td>{{ item.descriptionOfGoods }}</td>
                    <td>{{ item.hsCode }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.value }}</td>
                    <td>{{ item.manufactringCostStmtId }}</td>
                    <td>
                        <div *ngIf="item.manufactringCostStmtId">
                            <a [routerLink]="['/manufactring-cost-stmt', item.manufactringCostStmtId?.id, 'view']" >{{ item.manufactringCostStmtId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/item', item.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/item', item.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(item)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
